html, body {
  height: 100%;
  margin: 0px;
}

/*div {
  border: solid 2px;
}*/

#inicio {
  margin: 25px;
}

#juego {
  height: 100%;
}

#juego-titulo {
  height: 10%;
  text-align: center;
}

#juego-titulo-texto {
  display: inline-block;
}

.texto-titulo {
  font-size: 6vh;
}

.texto-mensaje {
  font-size: 4vh;
}

#juego-accion {
  height: 50%;
}

#juego-accion-tabla {
  margin: 0 auto;
  width: 95%;
  height: 100%;
}

.juego-accion-celda {
  height: 100%;
  width: 30%;
  text-align: center;
}

#juego-accion-rival {
  height: 20vh;
  border: solid 2px;
  background-color: #ddd;
}

#juego-accion-jugada-rival {
  height: 20vh;
  margin-left: -25vh;
  margin-top: 10vh;
  position: absolute;
}

#juego-accion-jugada-rival-outcome {
  height: 20vh;
  margin-left: -25vh;
  margin-top: 5vh;
  position: absolute;
}

#juego-accion-historial {
}

.celda-historial {
  height: 10vh;
}

#juego-control {
  height: 40%;
}

#juego-control-tabla {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.juego-control-celda {
  font-size: 10vh;
  text-align: center;
  height: 80%;
}

.juego-control-pic {
  z-index: 100;
  margin-top: -5vh;
  width: 20vh;
}
.juego-control-tecla {
  position: absolute;
  font-weight: bold;
  z-index: 101;
}

.menu-superior {
  float:left;
  margin-left: 20px;
  margin-top: -10px;
}
